<%
imgs = {}
Dir.chdir("#{Rails.root}/app/assets/images/") do
  imgs = Dir["**"].inject({}) {|h,f| h.merge! f => image_path(f)}
end
%>

window.image_path = (name) ->
  <%= imgs.to_json %>[name]

window.searchTerm = ""
window.kind = null

center = (position) ->
  latitude = position.coords.latitude
  longitude = position.coords.longitude
  window.map.setView([latitude, longitude], 6)

show_map = ->
  window.map.setView([41,2], 2)
  L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map)

  L.Control.Zoom
    options:
      position: 'topright'

row = (key, value) ->
  "<tr><th>#{key}</th><td>#{value}<td></tr>"

enable = (marker) ->
  marker.bindPopup(marker.desc).setOpacity(1)

disable = (marker) ->
  marker.closePopup().unbindPopup().setOpacity(0)

filter = ->
  for lab in window.labs
    disable(lab.marker)

    if window.searchTerm is ""
      enable(lab.marker)
    else
      for word in ["name"]
        if lab[word].match(new RegExp(window.searchTerm, "i"))
          enable(lab.marker)
          break

    if window.kind and window.kind != lab.kind
      disable(lab.marker)


jQuery ->
  window.map = L.map('map')
  window.labs = []
  show_map()

  $('.kind').click ->
    $('#current_kind').text($(this).find('a').text())

  $.get "/labs.json", (labs) ->
    for lab in labs
      lab.marker = L.marker([lab.address.latitude, lab.address.longitude], {
        icon: L.icon
          iconUrl: window.image_path("#{lab.kind}-icon.png")
          iconSize:     [35, 35]
          iconAnchor:   [17, 33]
          popupAnchor:  [0, -20]
      }).addTo(map)

      source = $("#popup-template").html()
      template = Handlebars.compile(source)
      lab.marker.desc = template(lab)

      # lab.marker.desc = "<h1>#{lab.name}</h1>"
      # lab.marker.desc += "<a href='/labs/#{lab._id}/edit'>Edit</a>"
      # lab.marker.desc += "<table>"
      # for word in ["location", "city", "email", "phone"]
      #   lab.marker.desc += row(word,lab[word]) if lab[word]
      # lab.marker.desc += "</table>"
      lab.marker.bindPopup(lab.marker.desc)

      window.labs.push(lab)

  $('#current_kind').click (e) ->
    e.preventDefault()

  $('li.kind a').click (e) ->
    e.preventDefault()
    li = $(this).parent('li')
    console.log li
    $('li.kind').removeClass('active')
    li.addClass('active')
    window.kind = (if li.attr('id') is 'allkinds' then null else li.data('kind'))
    filter()

  $('#search_filter').keyup ->
    window.searchTerm = $(this).val()
    filter()

  $('#allkinds').click()

  navigator.geolocation.getCurrentPosition(center)

