<%
imgs = {}
Dir.chdir("#{Rails.root}/app/assets/images/") do
  imgs = Dir["**"].inject({}) {|h,f| h.merge! f => image_path(f)}
end
%>

window.image_path = (name) ->
  <%= imgs.to_json %>[name]

window.searchTerm = ""
window.kind = null
window.markers = new L.MarkerClusterGroup
  showCoverageOnHover: true

center = (position) ->
  latitude = position.coords.latitude
  longitude = position.coords.longitude
  window.map.setView([latitude, longitude], 7)

show_map = ->
  window.map.setView([41,2], 2)#.setMaxBounds(window.map.getBounds());
  L.tileLayer('http://{s}.tile.cloudmade.com/384aceabcd0942189d0e93cf0e98cd31/90734/256/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map)

  L.Control.Zoom
    options:
      position: 'topright'

row = (key, value) ->
  "<tr><th>#{key}</th><td>#{value}<td></tr>"

enable = (marker) ->
  window.markers.addLayer(marker)
  # marker.bindPopup(marker.desc).setOpacity(1)

disable = (marker) ->
  window.markers.removeLayer(marker)
  # marker.closePopup().unbindPopup().setOpacity(0)

filter = ->
  for lab in window.labs
    disable(lab.marker)

    if window.searchTerm is ""
      enable(lab.marker)
    else
      for word in ["name"]
        if lab[word].match(new RegExp(window.searchTerm, "i"))
          enable(lab.marker)
          break

    if window.kind and window.kind != lab.kind
      disable(lab.marker)


jQuery ->
  window.map = L.map 'map', {
    # minZoom: 1
    maxZoom: 13
  }
  window.labs = []
  show_map()

  $('.kind').click ->
    $('#current_kind').text($(this).find('a').text())

  $.get "/labs.json", (labs) ->
    for lab in labs
      if lab.address.latitude
        lab.marker = L.marker([lab.address.latitude, lab.address.longitude], {
          icon: L.icon
            iconUrl: window.image_path("#{lab.kind}-icon.png")
            iconSize:     [35, 35]
            iconAnchor:   [17, 33]
            popupAnchor:  [0, -20]
        })#.addTo(map)
        window.markers.addLayer(lab.marker)

        source = $("#popup-template").html()
        template = Handlebars.compile(source)
        lab.marker.desc = template(lab)

        # lab.marker.desc = "<h1>#{lab.name}</h1>"
        # lab.marker.desc += "<a href='/labs/#{lab._id}/edit'>Edit</a>"
        # lab.marker.desc += "<table>"
        # for word in ["location", "city", "email", "phone"]
        #   lab.marker.desc += row(word,lab[word]) if lab[word]
        # lab.marker.desc += "</table>"
        lab.marker.bindPopup(lab.marker.desc)

        window.labs.push(lab)
    map.addLayer(markers)

  $('#current_kind').click (e) ->
    e.preventDefault()

  $('li.kind a').click (e) ->
    e.preventDefault()
    li = $(this).parent('li')
    console.log li
    $('li.kind').removeClass('active')
    li.addClass('active')
    window.kind = (if li.attr('id') is 'allkinds' then null else li.data('kind'))
    filter()

  $('#search_filter').keyup ->
    window.searchTerm = $(this).val()
    filter()

  $('#allkinds').click()

  navigator.geolocation.getCurrentPosition(center)

