.row
  .large-12
    %h1 Listing Labs
    %table
      %thead
        %tr
          %th Name
          %th Kind
          %th Address
          %td
      %tbody
        - @labs.each do |lab|
          %tr
            %td= link_to lab, edit_lab_path(lab)
            %td= lab.kind
            %td
            %td=link_to "delete", lab, method: :delete

    = link_to "Add a Lab", new_lab_path, class: 'button'