%nav.top-bar.fixed

  %ul.title-area
    %li.name
      %h1= link_to "Fab Lab Map", root_path
    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        %span

  %section.top-bar-section
    %ul.left
      %li.divider
      %li.has-form
        %form
          .row.collapse
            %input{type: "text", placeholder: "Search...", id: 'search_filter'}/
      %li.divider
      %li.has-dropdown
        = link_to "All Fab Labs", "#", id: 'current_kind'
        %ul.dropdown
          %li#allkinds.kind{data: {kind: 'fablab mini planned'}}= link_to "All Fab Labs", "#"
          %li.divider

          %li.kind{data: {kind: 'fab_lab'}}= link_to "Fab Labs", "#"
          %li.kind{data: {kind: 'mini'}}= link_to "Mini Fab Labs", "#"
          %li.kind{data: {kind: 'planned'}}= link_to "Planned Labs", "#"
      %li.divider
    %ul.right
      %li.divider
      %li.has-form
        = link_to "Add a Lab", new_lab_path, class: 'button radius'

#map

%script{id: 'popup-template', type: 'text/x-handlebars-template'}
  :plain
    <h1>{{name}}</h1>
    <a href="/labs/{{_id}}/edit" class="button small secondary">Edit Lab</a>

    {{#if contacts}}
    <h4>Contacts</h4>
    <ul>
    {{#each contacts}}
      <li>
        {{name}} {{#if role}}({{role}}){{/if}} - <a href="mailto:{{email}}">{{email}}</a>
        {{phone}}
      </li>
    {{/each}}
    </ul>
    {{/if}}

    {{#if websites}}
    <h4>Websites</h4>
    <ul>
    {{#each websites}}
      <li>
        <a href="{{url}}">{{url}}</a>
      </li>
    {{/each}}
    </ul>
    {{/if}}

    {{comments}}
