%nav.top-bar.fixed

  %ul.title-area
    %li.name
      %h1#fablabmap
        = link_to "Fab Lab Map", root_path
    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        %span

  %section.top-bar-section
    %ul.left
      %li.divider
      %li.has-form
        %form
          .row.collapse
            %input{type: "text", placeholder: "Search...", id: 'search_filter'}/
      %li.divider
      %li.has-dropdown
        = link_to "All Fab Labs", "#", id: 'current_kind'
        %ul.dropdown
          %li#allkinds.kind{data: {kind: 'fablab mini planned'}}= link_to "All Fab Labs", "#"
          %li.divider

          %li.kind{data: {kind: 'fab_lab'},  title: 'Full-sized Fab Labs'}= link_to "Fab Labs", "#"
          %li.kind{data: {kind: 'mini'},  title: 'Smaller labs that offer some of the facilities of a full Fab Lab'}= link_to "Mini Fab Labs", "#"
          %li.kind{data: {kind: 'planned'}, title: 'Labs that will open soon'}= link_to "Planned Labs", "#"
      %li.divider
    %ul.right
      %li.divider
      %li.has-form
        = link_to "Add a Lab", new_lab_path, class: 'button radius'

#map

%script{id: 'popup-template', type: 'text/x-handlebars-template'}
  :plain
    <h2><a href="/labs/{{_id}}/edit">{{name}}</a></h2>
    {{address.formatted}}

    {{#if hours}}
    <hr/>
    <h5>Opening Hours</h5>
    {{hours}}
    {{/if}}

    {{#if contacts}}
    <hr/>
    <h4>Contacts</h4>
    <ul>
    {{#each contacts}}
      <li>
        <span class="line">{{name}} {{#if role}}({{role}}){{/if}}</span>
        <span class="email"><a href="mailto:{{email}}">{{email}}</a></span>
        <span class="phone">{{phone}}</span>
      </li>
    {{/each}}
    </ul>
    {{/if}}

    {{#if websites}}
    <hr/>
    <h4>Websites</h4>
    <ul>
    {{#each websites}}
      <li>
        <a href="{{url}}">{{url}}</a>
      </li>
    {{/each}}
    </ul>
    {{/if}}

    {{comments}}
